*{
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  background-image: linear-gradient(to right,#c0392b, #8e44ad);
}

@font-face {
  font-family: poppins;
  src: url('/fonts/Poppins-Black.ttf');
}

@font-face {
  font-family: poppins-light;
  src: url('/fonts/Poppins-Light.ttf');
}

.sidebar {
  background-image: url('/images/sidebar/sidebar_pic.png');
  background-size: cover;
  color: #ffffff;
  width: 60px;
  height: 100vh;
  overflow: hidden;
  transition: width 0.3s ease;
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar:hover {
  width: 200px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  padding: 17.6px;
  text-align: center;
  overflow: hidden;
}

.sidebar ul li .icon {
  color: #ffffff;
  font-size: 20px;
  margin-right: 10px;
  width: 30px;
  text-align: center;
}

.sidebar ul li .text {
  color: #ffffff;
  display: none;
  white-space: nowrap;
  font-family: poppins;
  font-size: 15px;
}

.sidebar:hover ul li .text {
  display: inline-block;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.3s ease, writing-mode 0.3s ease;
  font-family: poppins;
}

.sidebar:hover .vertical-text {
  writing-mode: horizontal-tb;
  transform: translateY(-50%) rotate(0deg);
  left: 10%;
  letter-spacing: 5px;
}

/*Site Content*/
.site-content-exchange {
  width: calc(100% - 60px);
  transition: margin-left 0.3s ease;
}

/*Button na Forms*/
button{
  background-color: rgb(99, 99, 99);
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba( 0, 0, 0, 0.2);
  color: #ffffff;
  padding: 10px 25px;
  font-family: poppins;
  margin-bottom: 8px;
}

button:hover{
  background-color: rgb(83, 83, 83);
}

.button-container{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blod{
  font-family: poppins;
}

/*Kontaktní údaje*/
h2.nadpisos{
  font-family: poppins;
  color: #ffffff;
}

p.info{
  font-family: poppins-light;
  color: #ffffff;
}

/* Container */
.container {
  position: relative;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #6e6e6ede;
  border: 3px solid white;
  padding: 20px 15px;
  border-radius: 5px;
  flex-direction: column;
  margin-top: 50px;
}

.containers-wrapper {
  display: flex; /* Aktivuje flexbox pro rodiče */
  justify-content: center; /* Zarovná kontejnery na střed (vodorovně) */
  gap: 500px; /* Přidá mezery mezi kontejnery */
}

#ic{
  margin-right: 5px;
}

p.popisek{
  color: #ffffff;
  font-family: poppins-light;
  margin-left: 80px;
}

p.popisek-main{
  color: #ffffff;
  font-family: poppins-light;
  margin: 20px 0;
  margin-left: 140px;
  margin-top: 20px;
  font-size: 12px;
  display: flex;
}

p.popisek-main2{
  color: #ffffff;
  font-family: poppins-light;
  margin: 20px 0;
  margin-left: 250px;
  margin-top: 20px;
  font-size: 12px;
  display: flex;
}

h1.nadpisek{
  color: #ffffff;
  font-family: poppins;
  margin-left: 80px;
  font-size: 20px;
}

.vymena{
  flex: 1;
  padding: 10px;
  margin-left: 30px;
}

.vykup{
  flex: 1;
  padding: 10px;
  margin-left:190px;
}

.container-popisy{
  display: flex;
}

.container-popisek{
  display: flex;
  margin-left: 30px;
}

.pos1{
  flex: 1;
}

.pos2{
  flex: 1;
}
