body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to right,#C04848,#480048);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    padding: 20px;
    max-width: 1500px;
    width: 1000px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  table, th, td {
    border: 1px solid #ccc;
  }

  th, td {
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #800000;
    color: white;
  }
  
  .link {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 15px;
    background: #0064ff;
    border-radius: 5px;
  }

  #backButton {
display: inline-block;
margin-top: 20px;
text-decoration: none;
color: #ffffff;
font-weight: bold;
padding: 10px 15px;
background: #0065ff;
border-radius: 5px;
      border: none;
}

#backButton:hover {
background: #0067da;
    cursor: pointer;
}

/* Styl pro tlačítko Smazat */
.deleteButton {
    background-color: #dc3545;  /* Červená barva pro smazání */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
  }
  
  .deleteButton:hover {
    background-color: #c82333;  /* Tmavší červená při hover */
  }
  
  .deleteButton:active {
    background-color: #bd2130;  /* Mírně tmavší červená při kliknutí */
  }
  
  /* Styl pro checkbox "Odesláno" */
  .checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .checkbox-container input[type="checkbox"] {
    transform: scale(1.2);  /* Zvýšení velikosti checkboxu */
    margin: 0;
  }
  
  .checkbox-container label {
    font-size: 1rem;
    color: #555;
  }
  
  /* Zaoblení a padding pro checkboxy */
  .checkbox-container input[type="checkbox"]:checked {
    background-color: #007bff;
    border: 2px solid #007bff;
  }
  
  .checkbox-container input[type="checkbox"]:not(:checked) {
    background-color: #fff;
    border: 2px solid #ccc;
  }
