* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-image: url('Pictures/lemon-bg.jpg');
    background-size: cover;
    line-height: 1.6;
}

header {
    background: #00386B;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px; /* Přidání paddingu pro lepší klikací plochu */
}

nav ul li a:hover {
    color: #fff;
    text-shadow: 0 0 5px #ffc400;
}

.footer {
   text-align: center; 
   padding: 20px 0; 
   background-color:#00386B; 
   color:white; 
}

/* Styl pro tlačítko Google Forms */
.form-button {
    display: inline-block; 
    background-color: #ffbb00; /* Tmavě žlutá barva */
    color: white; 
    padding: 10px 20px; 
    border-radius: 5px; 
    text-decoration: none; 
    margin-top: 20px; 
    cursor: pointer;
    margin-left: 20px;
 }
 
 .form-button:hover {
    background-color: #cf9a07; /* Tmavší odstín při hover */
 }

/* Nové pravidlo pro logo */
.logo {
    font-size: 36px; /* Zvětšení velikosti písma */
    font-weight: bold; /* Tučné písmo pro zvýraznění */
    color: #FFCC00; /* Barva textu (žlutá) */
}

.service-item {
    background-color: #f4f4f4a6; /* Světle šedé pozadí pro položky služeb a vedení */
    border-radius: 10px; /* Zaoblené rohy pro položky */
    padding: 20px; /* Vnitřní odsazení */
    margin: 100px; /* Vnější odsazení */
    flex-basis: 30%; /* Šířka položky */
    width: 800px;
    margin-left: 15px;
    margin-bottom: 40px;
}

.about{
    margin-top: 170px;
}

@media (max-width: 425px) {

    .about{
        margin-top: 130px;
    }

    header {
        background: #00386B;
        color: white;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
    }
    //
    .service-item {
        background-color: #f4f4f4a6; /* Světle šedé pozadí pro položky služeb a vedení */
        border-radius: 10px; /* Zaoblené rohy pro položky */
        padding: 20px; /* Vnitřní odsazení */
        margin: 100px; /* Vnější odsazení */
        flex-basis: 30%; /* Šířka položky */
        width: 400px;
        margin-top: 20px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 40px;
    }

    .footer {
        text-align: center;
        padding: 20px 0;
        background-color:#00386B;
        color:white;
        width: 100%;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
    }

    nav ul {
        list-style: none;
    }

    nav ul li {
        display: inline;
    }

    nav ul li a {
        color: white;
        text-decoration: none;
        padding: 5px 5px; /* Přidání paddingu pro lepší klikací plochu */
        font-size: 15px;
    }

    .logo {
        font-size: 15px; /* Zvětšení velikosti písma */
        font-weight: bold; /* Tučné písmo pro zvýraznění */
        color: #FFCC00; /* Barva textu (žlutá) */
    }

    .form-button {
        display: inline-block;
        background-color: #ffbb00; /* Tmavě žlutá barva */
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        text-decoration: none;
        margin-top: 5px;
        cursor: pointer;
        margin-left: 5px;
    }
}
