*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    height: 100vh;
}

body {
    margin: 0;
    line-height: 1.6;
    background-image: url('Pictures/lemon-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.service-item {
    background-color: #ffffff80; /* Světle šedé pozadí pro položky služeb a vedení */
    display: flex;
    flex-direction: column;
    border-radius: 20px; /* Zaoblené rohy pro položky */
    padding: 30px; /* Vnitřní odsazení */
    width: 800px;
    margin: 120px 15px 40px 15px;
}

.about {
    margin-top: 170px;
}

@media (max-width: 425px) {
    body {
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 80px; /* přidá místo pod obsahem pro footer */
    }

    .about {
        margin-top: 100px;
    }

    .service-item {
        background-color: #f4f4f4a6;
        border-radius: 20px;
        padding: 16px;
        max-width: 95vw;
        margin: 10px auto 20px auto;
    }
}
