* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.6;
    background-image: url('Pictures/lemonbg.png');
    background-size: cover;
}

header {
    background: #00386B;
    color: white;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px; /* Přidání paddingu pro lepší klikací plochu */
}

nav ul li a:hover {
    color: #fff;
    text-shadow: 0 0 5px #ffc400;
}

.footer {
   text-align: center; 
   padding: 20px 0; 
   background-color:#00386B; 
   color:white; 
   margin-top: 100vh;
}

/* Styl pro tlačítko Google Forms */
.form-button {
    display: inline-block; 
    background-color: #ffbb00; /* Tmavě žlutá barva */
    color: white; 
    padding: 10px 20px; 
    border-radius: 5px; 
    text-decoration: none; 
    margin-top: 20px; 
    cursor: pointer;
    margin-left: 20px;
 }
 
 .form-button:hover {
    background-color: #cf9a07; /* Tmavší odstín při hover */
 }

/* Nové pravidlo pro logo */
.logo {
    font-size: 36px; /* Zvětšení velikosti písma */
    font-weight: bold; /* Tučné písmo pro zvýraznění */
    color: #FFCC00; /* Barva textu (žlutá) */
}
