*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.6;
    background-image: linear-gradient(to right, #22c1c3, #fdbb2d);
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 50px;
    background-color: #00386B;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.nav,
.nav .nav-links {
    display: flex;
    align-items: center;
}
.nav {
    justify-content: space-between;
}
a {
    color: #fff;
    text-decoration: none;
}
.nav .logo {
    font-size: 22px;
    font-weight: 500;
    color: #ffbb00;
}
.nav .nav-links {
    column-gap: 20px;
    list-style: none;
}
.nav .nav-links a {
    transition: all 0.2s linear;
}
.nav.nav-links a {
    opacity: 0;
    pointer-events: none;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
    display: none;
}
/* responsive */
@media screen and (max-width: 1160px) {
    .nav {
        padding: 15px 100px;
    }
    .nav .search-box {
        right: 150px;
    }
}
@media screen and (max-width: 950px) {
    .nav {
        padding: 15px 50px;
    }
    .nav .search-box {
        right: 100px;
        max-width: 400px;
    }
}
@media screen and (max-width: 768px) {
    .nav .navOpenBtn,
    .nav .navCloseBtn {
        display: block;
    }
    .nav {
        padding: 15px 20px;
    }
    .nav .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        max-width: 200px;
        width: 100%;
        padding-top: 100px;
        row-gap: 30px;
        flex-direction: column;
        background-color: #002950;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
        z-index: 100;
    }
    .nav.openNav .nav-links {
        left: 0;
    }
    .nav .navOpenBtn {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }
    .nav .navCloseBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }
}

nav ul li a:hover {
    color: #fff;
    text-shadow: 0 0 5px #ffc400;
}

.prvni-odsazeni{
    margin-top: 20px;
}

h2.nadpis{
    margin-left: 20px;
    padding-top: 140px;
    font-weight: bold;
    color: white;
}

.icon{
    margin-right: 10px;
    color: white;
}

.service-item {
    background-color: #f4f4f483; /* Světle šedé pozadí pro položky služeb a vedení */
    border-radius: 10px; /* Zaoblené rohy pro položky */
    padding: 20px; /* Vnitřní odsazení */
    margin: 15px; /* Vnější odsazení */
    flex-basis: 30%; /* Šířka položky */
}
.service-item .service-image {
    max-width: 50%; /* Maximální šířka obrázku */
    height: auto; /* Automatická výška pro zachování poměru stran */
    border-radius: 20px;
}
.footer {
   text-align: center; 
   padding: 20px 0; 
   background-color:#00386B; 
   color:white; 
}

/* Styl pro tlačítko Google Forms */
.form-button {
    display: inline-block; 
    background-color: #ffbb00; /* Tmavě žlutá barva */
    color: white; 
    padding: 10px 20px; 
    border-radius: 5px; 
    text-decoration: none; 
    margin-top: 20px; 
    cursor: pointer;
    margin-left: 20px;
 }
 
 .form-button:hover {
    background-color: #cf9a07; /* Tmavší odstín při hover */
 }

/* Nové pravidlo pro logo */
.logo {
    font-size: 36px; /* Zvětšení velikosti písma */
    font-weight: bold; /* Tučné písmo pro zvýraznění */
    color: #FFCC00; /* Barva textu (žlutá) */
}

@media (max-width: 425px) {

    .footer {
        text-align: center;
        padding: 20px 0;
        background-color:#00386B;
        color:white;
        font-size: 15px;
    }

    .service-item .service-image {
        border-radius: 20px;
    }
}